body {
  margin: 1rem;
  line-height: 1.3rem;
}

ul li.host {
  padding-bottom: 1rem;
}

table td {
  padding-right: 1rem;
}

div.alert {
  margin: 1rem;
  padding: 0 1rem;
  border: 1px solid #911;
}
